.logged-in-status {
  background-color: green;
  color: white;
  padding: 2px;
  font-weight: bold;
}
.logged-out-status {
  background-color: red;
  color: white;
  padding: 2px;
  font-weight: bold;
}
